<h1>About</h1>


<p>This website is an example website made by following a ruby on rails tutorial on <a href="https://codemy.com/">Codemy</a> with some changes made.</p>

<p>This is not the best looking website but shows the usage of databases, forms, account authentication and user management.</p>

<h3>This website uses:</h3>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><%= image_tag "filetype-sql.svg" %> SQlite</li>
  <li class="list-group-item"><%= image_tag "filetype-sql.svg" %> Ruby On Rails</li>
  <li class="list-group-item"><%= image_tag "filetype-sql.svg" %> BootStrap</li>
  <li class="list-group-item"><%= image_tag "filetype-sql.svg" %> Devise</li>
</ul>

<h3>Links:</h3>