<h1>Home Page</h1>
</br>
<p>This website is an example website made by following a ruby on rails tutorial on <a href="https://codemy.com/">Codemy</a> with some changes made.<p>
<p>The Root Page (root 'home#index') in the routes</p>
